__pycache__/
*.py[cod]
*.env
.venv/
.env/
.DS_Store
*.log
*.sqlite3
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
# VSCode
.vscode/
